<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connStringB" connectionString="Data Source=LAPTOP-BURAQ\SQLEXPRESS;Initial Catalog=Project_Flapp_DB;Integrated Security=True" />
		<add name="connStringTL" connectionString="Data Source=LAPTOP-GTB3LMSV\SQLEXPRESS;Initial Catalog=Project_Flapp_DB;Integrated Security=True" />
		<add name="connStringTD" connectionString="Data Source=DESKTOP-8JVOTB1\SQLEXPRESS;Initial Catalog=Project_FLAPP_DB;Integrated Security=True" />
    <add name="connStringR" connectionString="Data Source=LAPTOP-4QVTNHR0\SQLEXPRESS;Initial Catalog=Project_Flapp_DB;Integrated Security=True" />
  </connectionStrings>
</configuration>